body {
    background-image: url(Afbeelding.jpg);
    background-size: cover;   
    margin: 0;
    justify-content: center;
    display: grid;
    grid-template-areas:"h h h h h h h"
                        "l . . . . . ."
                        ". . t t t . ."
                        ". . t t t . ."
                        ". . t t t . ."
                        ". . p p p . ."
                        ". . . . . . ."
                        ". . o o o . .";
    grid-template-rows: 50px 20px 300px 135px 270px 170px 50px 10px
    
}       

header {
    background-color: brown;
    grid-area: h;
    position: relative;
    
    
    
}

.testimonial {
    background-color: white;
    grid-area: t;
    position: relative;
    margin-right: 1015px;
    margin-left: 1015px;
    margin-bottom: 120px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.979);
    line-height: 40px;
    align-items: center;

}

.testimonial h1 {
    position: relative;
    font-size: larger;
    font-weight:540;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1em;
    color: rgb(83, 83, 83);   
    margin-top: -30px; 
}

.testimonial h2 {
    position: relative;
    margin-left: 145px;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1em;
    color: white;
}  



.testimonial img {
    position: sticky;
    width: 35%;
    height: 135px;
    margin: 133px;
    margin-top: -3px;
    padding: 5px;
    border-radius: 50%;
    background-color:white;
}   

.testimonial h3 {
    position: relative;
    margin-left: 150px;
    font-size: x-large;
    font-family:sans-serif;
    font-weight: 600;
    color: rgb(194, 186, 186);
}
.testimonial footer {
    position: static;
    background-color: #686de0;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: -210px;
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;


}

.links {
  position: static;
  grid-area: l;
  width: 70px;
  margin-top: 50px;
  margin-left: -40px;
  transition: all 0.3s linear;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4);
}

.links li {
    height: 60px;
    position: relative;
}

.links li a {
    color: white;
    display: block;
    height: 100%;
    width: 180%;
    line-height: 60PX;
    padding-left: 25%;
    border-bottom: 1pX solid rgba(0,0,0,.4);
    transition: all .3s linear;
}

.links li:nth-child(1) a{
    background: #4267B2;
    background-image: url(733547.png);
    background-repeat: no-repeat;
    background-size: 60px;
}
.links li:nth-child(2) a{
    background: #1DA1F2;
    background-image: url(4494477.png);
    background-repeat: no-repeat;
    background-size: 60px;
}
.links li:nth-child(3) a{
    background:#E1306C;
    background-image: url(2111463.png);
    background-repeat: no-repeat;
    background-size: 60px;
}
.links li:nth-child(4) a{
    background: #2867B2;
    background-image: url(3536505.png);
    background-repeat: no-repeat;
    background-size: 60px;
}
.links li:nth-child(5) a{
    background: #333;
    background-image: url(3291695.png);
    background-repeat: no-repeat;
    background-size: 60px;
  }
.links li:nth-child(6) a{
    background: #ff0000;
    background-image: url(3938026.png);
    background-repeat: no-repeat;
    background-size: 60px;
  }

.links li a i{
    position:absolute;
    top: 17px;
    left: 20px;
    font-size: 27px;
  }

  .links ul li a span{
    display: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .links ul li a:hover {
    z-index:1;
    width: 200px;
  }
  
  .links ul li:hover a span{
    padding-left: 30%;
    display: block;
  }

.Img1 {
    grid-area: p;
    margin-left: 31%;
    display:flex;
    
    
    
   


}

.Img2 {
    grid-area: o;
    margin-left: 31%;
    display: flex;
   

}



.btn {
    position: relative;
    left: 8.75%;
    top: 45.5%;
    height: 20px;
    display: flex;
    align-items: center;
}   

.btn1 {
    position: relative;
    left: 281%;
    top: 45.5%;
}

.btn2 {
    position: relative;
    left: 280%;
    top: 45.5%;
}

.btn3 {
    position: relative;
    left: 8.75%;
    top: 835%;
    height: 20px;
}

.btn4 {
    position: relative;
    left: 280%;
    top: 830%;
}

.btn5 {
    position: relative;
    left: 280%;
    top: 830%;
}

.Img1 img {
    position: relative;
    width: 14%;
    height: 100%;
    border-radius: 20px;
    border-style: groove;
    border-color: red;
    padding: 0px;
    transition: 1s;
    
}
.Img2 img {
    position: relative;
    width: 14%;
    height: 1800%;
    border-radius:20px;
    border-style: groove;
    border-color: red;
    transition: 1s;
}




.Img1 img:hover {
    opacity: 10%;
    visibility: hidden;
  
    
   

  
}


.Img2 img:hover {
    opacity: 10%;
    visibility: hidden;

   
}

.btn:hover {
    background-color: #d61a1a;
}

.btn1:hover {
    background-color: #d61a1a;
}

.btn2:hover {
    background-color: #d61a1a;
}

.btn3:hover {
    background-color: #d61a1a;
}

.btn4:hover {
    background-color: #d61a1a;
}

.btn5:hover {
    background-color: #d61a1a;
}

   
   
@media screen and (max-width: 700px ) {
    .links {
        position: absolute;
    }

    .testimonial {
        margin-bottom: 400px;
    }
    
    .testimonial img {
        margin-top: -20px;
        margin-left: 70px;
        height: 45%;
        
    }
    .testimonial h1 {
        font-size: small;
        letter-spacing: 0;


    }
    .testimonial h2 {
        margin-left: 70px;
        font-size: large;
    }
    .testimonial h3 {
        margin-left: 45px;
    }
    .testimonial footer {
        margin-top: -220px;
        
    }


}





